<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 left-panel">
      <div class="left-panel-content card">
        <div class="card-body">
          <h4 class="card-title">可选样本</h4>
          <div class="samples-wrapper">
            <div class="sample-wrapper"
                 *ngFor="let sample of samples"
                 [class.selected]="sample == selectedSample"
                 (click)="selectSample(sample)">
              <img src="{{ sample.path }}" title="图片id: {{ sample.id }}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 right-panel">
      <div class="right-panel-content card">
        <div class="row" style="margin-left: 0; margin-right: 0">
          <div class="col-sm-4">
            <div class="card-body">
              <h4 class="card-title">图片操作</h4>
              <div class="card-content">
                <div class="img-board">
                  <!-- <img id="large-img" *ngIf="selectedSample" [src]="selectedSample.path"> -->
                  <canvas id="board" #board width="280" height="280"></canvas>
                </div>
                <div class="board-tools">
                  <div class="button-wrapper">
                    <button type="button" (click)="revoke()" class="btn btn-sm btn-primary">撤销</button>
                    <button type="button" (click)="reset()" class="btn btn-sm btn-outline-primary">重置</button>
                    <button type="button" (click)="getFat()" class="btn btn-sm btn-outline-primary">变胖</button>
                    <button type="button" (click)="getThin()" class="btn btn-sm btn-outline-primary">变瘦</button>
                  </div>
                  <h5>画笔大小: {{ penWidth }}px<span class="small">(与原图的比例10:1)</span></h5>
                  <p-slider [(ngModel)]="penWidth" [min]="1" [max]="20"></p-slider>
                  <h5>灰度值: {{ penColor }}</h5>
                  <p-slider [(ngModel)]="penColor" [min]="0" [max]="255"></p-slider>
                  <!--<h5>硬度: {{ penHard }}</h5>-->
                  <!--<p-slider [(ngModel)]="penHard" [min]="0" [max]="100"></p-slider>-->
                  <!--<h5>运行模型:</h5>-->
                  <!--<p-multiSelect [options]="models"-->
                                 <!--optionLabel="name"-->
                                 <!--[(ngModel)]="selectedModels"></p-multiSelect>-->
                  <!--<h5>透明度: {{ penOpacity }}</h5>-->
                  <!--<p-slider [(ngModel)]="penOpacity" [min]="0" [max]="100"></p-slider>-->
                  <div class="button-wrapper">
                    <button type="button" (click)="uploadSample()" class="btn btn-sm btn-outline-success">提交样本运行</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h4 class="card-title">
                模型运行情况
                <p-toggleButton [(ngModel)]="enableUploadedMixView"
                                offLabel="启用混合模式"
                                onLabel="取消混合模式"
                                [style]="{ 'font-size': '12px' }"></p-toggleButton>
              </h4>
              <div class="card-content">
                <!--<p-dropdown [options]="selectedModels"-->
                            <!--optionLabel="name"-->
                            <!--[(ngModel)]="selectedUploadedModel"-->
                            <!--(onChange)="chooseModel()"></p-dropdown>-->

                <div class="row">
                  <h5 class="col-sm-4">
                    模型得分: <span>{{ modelScore }}</span>
                  </h5>
                  <h5 class="col-sm-4">
                    是否杀死变异: <span>{{ isKilled }}</span>
                  </h5>
                </div>
              </div>
            </div>
            <div #wrapper class="neurons-wrapper">
              <svg #neurons>

              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="neuron-details">
  </div>
  <p-growl [(value)]="msgs"></p-growl>
</div>
